parameters:
  reportMaybesInPropertyPhpDocTypes: false
  excludePaths:
    - *.blade.php
    - .phpstorm.meta.php
    - _ide_helper.php
    - bootstrap/*
    - storage/*
    - tests/*
    - vendor/*
    - stubs/*
    - database/migrations/2022_09_04_164122_create_permission_tables.php
  ignoreErrors:
    - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$[a-zA-Z_]+\.#'
    - '#Access to an undefined property Laravel\\Nova\\Fields\\ActionFields::\$[a-zA-Z_]+\.#'
    - '#Anonymous function should return (bool|string|string\|null) but returns mixed\.#'
    - '#Cannot access property \$[a-zA-Z_]+ on App\\Models\\[a-zA-Z]+\|null\.#'
    - '#Cannot call method can\(\) on App\\Models\\User\|null\.#'
    - '#Class App\\Nova\\Resource extends generic class Laravel\\Nova\\Resource but does not specify its types: TModel#'
    - '#Method App\\Http\\Middleware\\[a-zA-Z]+::handle\(\) has no return type specified\.#'
    - '#Method App\\Models\\[a-zA-Z]+::[a-zA-Z]+\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphTo<App\\Models\\[a-zA-Z]+, App\\Models\\[a-zA-Z]+> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphTo<Illuminate\\Database\\Eloquent\\Model, App\\Models\\[a-zA-Z]+>\.#'
    - '#Method App\\Models\\[a-zA-Z]+::getMorphClassStatic\(\) should return string but returns int\|string\|false\.#'
    - '#Method App\\Nova\\[a-zA-Z0-9]+::fields\(\) return type has no value type specified in iterable type array\.#'
    - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection<\(int\|string\),mixed>::each\(\) expects callable\(mixed, \(int\|string\)\): mixed, Closure\(string, int\): void given\.#'
    - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection<\(int\|string\),string>::map\(\) expects callable\(string, \(int\|string\)\): array, Closure\(array, string\): array given\.#'
    - '#Parameter \#1 \$haystack of static method Illuminate\\Support\\Str::startsWith\(\) expects string, mixed given\.#'
    - '#Parameter \#1 \$num of function number_format expects float, mixed given\.#'
    - '#Parameter \#1 \$title of static method Illuminate\\Support\\Str::slug\(\) expects string, mixed given\.#'
    - '#Parameter \#1 \$url of function parse_url expects string, mixed given\.#'
    - '#Parameter \#1 \$value of static method Illuminate\\Support\\Str::singular\(\) expects string, mixed given\.#'
    - '#Parameter \#2 \$string of function explode expects string, mixed given\.#'
    - '#Parameter \#2 \$values of method Spatie\\Csp\\Policies\\Policy::addDirective\(\) expects array\|bool\|string, mixed given\.#'
    - '#Property App\\Models\\[a-zA-Z]+::\$[a-zA-Z_]+ \(string\) does not accept mixed\.#'
