parameters:
  reportMaybesInPropertyPhpDocTypes: false
  excludePaths:
    - *.blade.php
    - .phpstorm.meta.php
    - _ide_helper.php
    - bootstrap/*
    - storage/*
    - tests/*
    - vendor/*
    - stubs/*
    - database/migrations/2022_09_04_164122_create_permission_tables.php
  ignoreErrors:
    - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$[a-zA-Z_]+\.#'
    - '#Access to an undefined property Laravel\\Nova\\Fields\\ActionFields::\$[a-zA-Z_]+\.#'
    - '#Anonymous function should return int\|string but returns mixed\.#'
    - '#Anonymous function should return string but returns mixed\.#'
    - '#Anonymous function should return string\|null but returns mixed\.#'
    - '#Argument of an invalid type mixed supplied for foreach, only iterables are supported\.#'
    - '#Cannot access offset ''[a-zA-Z_]+'' on mixed\.#'
    - '#Cannot access offset 0 on mixed\.#'
    - '#Cannot access offset \d on mixed\.#'
    - '#Cannot access property \$[a-zA-Z_]+ on App\\Models\\[a-zA-Z]+\|null\.#'
    - '#Cannot call method can\(\) on App\\Models\\User\|null\.#'
    - '#Cannot call method each\(\) on array<App\\Models\\[a-zA-Z]+>\|Illuminate\\Database\\Eloquent\\Collection\.#'
    - '#Cannot call method getClientOriginalName\(\) on array<int, Illuminate\\Http\\UploadedFile>\|Illuminate\\Http\\UploadedFile\|null\.#'
    - '#Cannot call method modelKeys\(\) on array<Spatie\\Permission\\Models\\[a-zA-Z]+>\|Illuminate\\Database\\Eloquent\\Collection\.#'
    - '#Cannot call method pluck\(\) on Adldap\\Query\\Collection\|array\.#'
    - '#Cannot call method storeAs\(\) on array<int, Illuminate\\Http\\UploadedFile>\|Illuminate\\Http\\UploadedFile\|null\.#'
    - '#Class App\\Nova\\Resource extends generic class Laravel\\Nova\\Resource but does not specify its types: TModel#'
    - '#Method App\\Http\\Middleware\\[a-zA-Z]+::handle\(\) has no return type specified\.#'
    - '#Method App\\Models\\[a-zA-Z]+::[a-zA-Z]+\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphTo<App\\Models\\[a-zA-Z]+, App\\Models\\[a-zA-Z]+> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphTo<Illuminate\\Database\\Eloquent\\Model, App\\Models\\[a-zA-Z]+>\.#'
    - '#Method App\\Models\\[a-zA-Z]+::getMorphClassStatic\(\) should return string but returns int\|string\|false\.#'
    - '#Method App\\Nova\\Actions\\[a-zA-Z]+::fields\(\) return type with generic class Laravel\\Nova\\Fields\\Field does not specify its types: TValidationRules#'
    - '#Method App\\Nova\\Actions\\[a-zA-Z]+::handle\(\) return type has no value type specified in iterable type array\.#'
    - '#Method App\\Nova\\DocuSignFundingSourceFields::__invoke\(\) return type with generic class Laravel\\Nova\\Fields\\Field does not specify its types: TValidationRules#'
    - '#Method App\\Nova\\Lenses\\[a-zA-Z]+::fields\(\) return type with generic class Laravel\\Nova\\Fields\\Field does not specify its types: TValidationRules#'
    - '#Method App\\Nova\\[a-zA-Z0-9]+::fields\(\) return type has no value type specified in iterable type array\.#'
    - '#Method App\\Util\\Workday::getInstanceId\(\) has parameter \$widget with no value type specified in iterable type array\.#'
    - '#Method App\\Util\\Workday::searchForKeyValuePair\(\) has parameter \$widgets with no value type specified in iterable type array\.#'
    - '#Method App\\Util\\Workday::searchForKeyValuePair\(\) return type has no value type specified in iterable type array\.#'
    - '#Method App\\Util\\Workday::sole\(\) has parameter \$widgets with no value type specified in iterable type array\.#'
    - '#Method App\\Util\\Workday::sole\(\) return type has no value type specified in iterable type array\.#'
    - '#Offset ''[a-zA-Z]+'' does not exist on array\|null\.#'
    - '#Offset ''[a-zA-Z_]+'' does not exist on array\|null\.#'
    - '#Parameter \#1 ...\$addresses of method Symfony\\Component\\Mime\\Email::replyTo\(\) expects string\|Symfony\\Component\\Mime\\Address, mixed given\.#'
    - '#Parameter \#1 \$address of method Illuminate\\Mail\\Mailable::[a-z]{2}\(\) expects array\|object\|string, mixed given\.#'
    - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection<\(int\|string\),mixed>::each\(\) expects callable\(mixed, \(int\|string\)\): mixed, Closure\(string, int\): void given\.#'
    - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection<\(int\|string\),string>::map\(\) expects callable\(string, \(int\|string\)\): array, Closure\(array, string\): array given\.#'
    - '#Parameter \#1 \$callback of method Laravel\\Nova\\Actions\\Action::canRun\(\) expects Closure\(Laravel\\Nova\\Http\\Requests\\NovaRequest, mixed\): bool, Closure\(Laravel\\Nova\\Http\\Requests\\NovaRequest, App\\Models\\[a-zA-Z]+\): bool given\.#'
    - '#Parameter \#1 \$callback of method Laravel\\Nova\\Actions\\Action::canRun\(\) expects Closure\(Laravel\\Nova\\Http\\Requests\\NovaRequest, mixed\): bool, Closure\(Laravel\\Nova\\Http\\Requests\\NovaRequest, App\\Models\\[a-zA-Z]+\): true given\.#'
    - '#Parameter \#1 \$displayCallback of method Laravel\\Nova\\Fields\\Field<array<int, \(callable\)\|Illuminate\\Contracts\\Validation\\Rule\|string\|Stringable>\|\(callable\)\|string\|Stringable>::displayUsing\(\) expects callable\(mixed, mixed, string\): mixed, Closure\(string\): string given\.#'
    - '#Parameter \#1 \$expenseReport of job class App\\Jobs\\MatchExpenseReport constructor expects App\\Models\\ExpenseReport in App\\Jobs\\MatchExpenseReport::dispatch\(\), App\\Models\\ExpenseReport\|null given\.#'
    - '#Parameter \#1 \$haystack of function str_ends_with expects string, float\|int\|string given\.#'
    - '#Parameter \#1 \$haystack of function str_ends_with expects string, mixed given\.#'
    - '#Parameter \#1 \$haystack of static method Illuminate\\Support\\Str::startsWith\(\) expects string, mixed given\.#'
    - '#Parameter \#1 \$key of function array_key_exists expects int\|string, mixed given\.#'
    - '#Parameter \#1 \$string of function substr expects string, mixed given\.#'
    - '#Parameter \#1 \$summary_pdf_text of static method App\\Models\\DocuSignEnvelope::getEnvelopeUuidFromSummaryPdf\(\) expects string, string\|false given\.#'
    - '#Parameter \#1 \$summary_pdf_text of static method App\\Models\\DocuSignEnvelope::getEnvelopeUuidFromSummaryPdf\(\) expects string, string\|null given\.#'
    - '#Parameter \#1 \$timestamp of static method App\\Jobs\\ProcessSensibleOutput::parseDateTimeFromDocuSignFormat\(\) expects string, float\|int\|string given\.#'
    - '#Parameter \#1 \$timestamp of static method Carbon\\Carbon::createFromTimestamp\(\) expects float\|int\|string, mixed given\.#'
    - '#Parameter \#1 \$title of static method Illuminate\\Support\\Str::slug\(\) expects string, mixed given\.#'
    - '#Parameter \#1 \$uri of method GuzzleHttp\\Client::post\(\) expects Psr\\Http\\Message\\UriInterface\|string, mixed given\.#'
    - '#Parameter \#1 \$url of function parse_url expects string, mixed given\.#'
    - '#Parameter \#1 \$url of static method Laravel\\Nova\\Actions\\Action::openInNewTab\(\) expects string, string\|null given\.#'
    - '#Parameter \#1 \$widget of static method App\\Util\\Workday::getDate\(\) expects array<string, array<string, string>>, mixed given\.#'
    - '#Parameter \#1 \$widget of static method App\\Util\\Workday::getInstanceId\(\) expects array, mixed given\.#'
    - '#Parameter \#1 \$widgets of static method App\\Util\\Workday::searchForKeyValuePair\(\) expects array, mixed given\.#'
    - '#Parameter \#1 \$widgets of static method App\\Util\\Workday::sole\(\) expects array, mixed given\.#'
    - '#Parameter \#2 \$contents of method Illuminate\\Filesystem\\FilesystemAdapter::put\(\) expects Illuminate\\Http\\File\|Illuminate\\Http\\UploadedFile\|Psr\\Http\\Message\\StreamInterface\|resource\|string, string\|false given\.#'
    - '#Parameter \#2 \$string of function explode expects string, mixed given\.#'
    - '#Parameter \#2 \$subject of function preg_match expects string, float\|int\|string given\.#'
    - '#Parameter \#2 \$subject of function preg_match expects string, float\|int\|string\|null given\.#'
    - '#Parameter \#2 \$subject of function preg_match expects string, mixed given\.#'
    - '#Parameter \#2 \$values of method Spatie\\Csp\\Policies\\Policy::addDirective\(\) expects array\|bool\|string, mixed given\.#'
    - '#Parameter \#3 \$value of method Adldap\\Query\\Builder::where\(\) expects string\|null, mixed given\.#'
    - '#Property App\\Models\\DocuSignEnvelope::\$[a-z_]+ \(.+\) does not accept float\|int\|string\|null\.#'
    - '#Property App\\Models\\DocuSignEnvelope::\$[a-z_]+ \(.+\) does not accept mixed\.#'
    - '#Property App\\Models\\DocuSignEnvelope::\$submitted_at \(Illuminate\\Support\\Carbon\|null\) does not accept Carbon\\CarbonImmutable\|null\.#'
    - '#Property App\\Models\\ExpenseReport::\$expense_payment_id \(int\|null\) does not accept string\.#'
    - '#Property App\\Models\\[a-zA-Z]+::\$[a-zA-Z_]+ \(string\) does not accept mixed\.#'
