[client]
host=localhost
user={{- with (key (printf "loop/%s" (slice (env "NOMAD_JOB_NAME") 5)) | parseJSON) -}}{{- index . "DB_USERNAME" -}}{{- end }}
password={{- with (key (printf "loop/%s" (slice (env "NOMAD_JOB_NAME") 5)) | parseJSON) -}}{{- index . "DB_PASSWORD" -}}{{- end }}
database={{- with (key (printf "loop/%s" (slice (env "NOMAD_JOB_NAME") 5)) | parseJSON) -}}{{- index . "DB_DATABASE" -}}{{- end }}
{{- range service "mysql" }}
socket="{{- index .ServiceMeta "socket" | trimSpace -}}"
{{ end }}
